{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "*.db",
          "_app",
          "/.git",
          "*.md",
          ".*"
        ],
        "exceptions": [
          ".htaccess"
        ]
      }
    },
    "uploader": {
      "remotePath": "/www/vorotnikova.mymv.ru/taro-telling",
      "timeout": 40000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "date": "2021-12-17T10:03:51.110Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "date": "2021-12-17T10:03:51.698Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1639757337207.937,
          "date": "2021-12-17T16:09:22.932Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1639756418465.4634,
          "date": "2021-12-17T15:54:02.082Z"
        },
        {
          "file": "fonts/GothicA1Bold.eot",
          "mtimeMs": 1639383544000,
          "date": "2021-12-17T10:03:53.575Z"
        },
        {
          "file": "fonts/GothicA1Bold.svg",
          "mtimeMs": 1639383544000,
          "date": "2021-12-17T10:03:54.276Z"
        },
        {
          "file": "fonts/GothicA1Bold.ttf",
          "mtimeMs": 1639383544000,
          "date": "2021-12-17T10:03:54.858Z"
        },
        {
          "file": "fonts/GothicA1Bold.woff",
          "mtimeMs": 1639383544000,
          "date": "2021-12-17T10:03:55.479Z"
        },
        {
          "file": "fonts/GothicA1Bold.woff2",
          "mtimeMs": 1639383544000,
          "date": "2021-12-17T10:03:56.113Z"
        },
        {
          "file": "fonts/GothicA1Regular.eot",
          "mtimeMs": 1639383540000,
          "date": "2021-12-17T10:03:56.942Z"
        },
        {
          "file": "fonts/GothicA1Regular.svg",
          "mtimeMs": 1639383540000,
          "date": "2021-12-17T10:03:57.531Z"
        },
        {
          "file": "fonts/GothicA1Regular.ttf",
          "mtimeMs": 1639383540000,
          "date": "2021-12-17T10:03:58.293Z"
        },
        {
          "file": "fonts/GothicA1Regular.woff",
          "mtimeMs": 1639383540000,
          "date": "2021-12-17T10:03:58.840Z"
        },
        {
          "file": "fonts/GothicA1Regular.woff2",
          "mtimeMs": 1639383540000,
          "date": "2021-12-17T10:03:59.415Z"
        },
        {
          "file": "fonts/GothicA1Thin.eot",
          "mtimeMs": 1639383542000,
          "date": "2021-12-17T10:04:00.333Z"
        },
        {
          "file": "fonts/GothicA1Thin.svg",
          "mtimeMs": 1639383542000,
          "date": "2021-12-17T10:04:01.159Z"
        },
        {
          "file": "fonts/GothicA1Thin.ttf",
          "mtimeMs": 1639383542000,
          "date": "2021-12-17T10:04:01.787Z"
        },
        {
          "file": "fonts/GothicA1Thin.woff",
          "mtimeMs": 1639383542000,
          "date": "2021-12-17T10:04:02.576Z"
        },
        {
          "file": "fonts/GothicA1Thin.woff2",
          "mtimeMs": 1639383542000,
          "date": "2021-12-17T10:04:03.184Z"
        },
        {
          "file": "fonts/LighthausRegular.eot",
          "mtimeMs": 1639365356000,
          "date": "2021-12-17T10:04:04.055Z"
        },
        {
          "file": "fonts/LighthausRegular.svg",
          "mtimeMs": 1639365356000,
          "date": "2021-12-17T10:04:05.060Z"
        },
        {
          "file": "fonts/LighthausRegular.ttf",
          "mtimeMs": 1639365356000,
          "date": "2021-12-17T10:04:05.918Z"
        },
        {
          "file": "fonts/LighthausRegular.woff",
          "mtimeMs": 1639365356000,
          "date": "2021-12-17T10:04:06.782Z"
        },
        {
          "file": "fonts/LighthausRegular.woff2",
          "mtimeMs": 1639365356000,
          "date": "2021-12-17T10:04:07.386Z"
        },
        {
          "file": "fonts/SpartanThin.eot",
          "mtimeMs": 1639365384000,
          "date": "2021-12-17T10:04:08.265Z"
        },
        {
          "file": "fonts/SpartanThin.svg",
          "mtimeMs": 1639365384000,
          "date": "2021-12-17T10:04:09.095Z"
        },
        {
          "file": "fonts/SpartanThin.ttf",
          "mtimeMs": 1639365384000,
          "date": "2021-12-17T10:04:09.684Z"
        },
        {
          "file": "fonts/SpartanThin.woff",
          "mtimeMs": 1639365384000,
          "date": "2021-12-17T10:04:10.553Z"
        },
        {
          "file": "fonts/SpartanThin.woff2",
          "mtimeMs": 1639365384000,
          "date": "2021-12-17T10:04:11.230Z"
        },
        {
          "file": "img/backs/backwrap-1.png",
          "mtimeMs": 1639734599432.4514,
          "date": "2021-12-17T10:04:11.919Z"
        },
        {
          "file": "img/backs/backwrap-2.png",
          "mtimeMs": 1639734604669.3608,
          "date": "2021-12-17T10:04:12.502Z"
        },
        {
          "file": "img/backs/cards.png",
          "mtimeMs": 1639734610836.122,
          "date": "2021-12-17T10:04:13.871Z"
        },
        {
          "file": "img/backs/know.png",
          "mtimeMs": 1639734615688.8098,
          "date": "2021-12-17T10:04:18.220Z"
        },
        {
          "file": "img/icons/1-star.png",
          "mtimeMs": 1639734659769.082,
          "date": "2021-12-17T10:04:18.881Z"
        },
        {
          "file": "img/icons/2-stars-2.png",
          "mtimeMs": 1639734669352.2856,
          "date": "2021-12-17T10:04:19.576Z"
        },
        {
          "file": "img/icons/2-stars.png",
          "mtimeMs": 1639734664884.181,
          "date": "2021-12-17T10:04:20.270Z"
        },
        {
          "file": "img/icons/3-stars.png",
          "mtimeMs": 1639734674086.258,
          "date": "2021-12-17T10:04:21.178Z"
        },
        {
          "file": "img/icons/iphone.png",
          "mtimeMs": 1639744505432.9768,
          "date": "2021-12-17T13:28:37.912Z"
        },
        {
          "file": "img/icons/main-stars.png",
          "mtimeMs": 1639734694894.7815,
          "date": "2021-12-17T10:04:22.502Z"
        },
        {
          "file": "img/icons/main.png",
          "mtimeMs": 1639734689326.238,
          "date": "2021-12-17T10:04:23.141Z"
        },
        {
          "file": "img/icons/quotes.png",
          "mtimeMs": 1639734700845.6975,
          "date": "2021-12-17T10:04:23.664Z"
        },
        {
          "file": "img/icons/soc-buttons.png",
          "mtimeMs": 1602314617676.0002,
          "date": "2021-12-17T10:04:24.409Z"
        },
        {
          "file": "img/icons/sun.png",
          "mtimeMs": 1639734706518.0994,
          "date": "2021-12-17T10:04:25.044Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1639734756300.78,
          "date": "2021-12-17T10:04:25.614Z"
        },
        {
          "file": "img/images/oxana.png",
          "mtimeMs": 1639734762473.5996,
          "date": "2021-12-17T10:04:26.492Z"
        },
        {
          "file": "img/revs/rev-1.jpg",
          "mtimeMs": 1626921306000,
          "date": "2021-12-17T10:04:27.429Z"
        },
        {
          "file": "img/revs/rev-10.jpg",
          "mtimeMs": 1639489524942.5735,
          "date": "2021-12-17T10:04:28.055Z"
        },
        {
          "file": "img/revs/rev-11.jpg",
          "mtimeMs": 1639489536617.8477,
          "date": "2021-12-17T10:04:29.188Z"
        },
        {
          "file": "img/revs/rev-12.jpg",
          "mtimeMs": 1639489503294.183,
          "date": "2021-12-17T10:04:30.158Z"
        },
        {
          "file": "img/revs/rev-13.jpg",
          "mtimeMs": 1639489514349.3052,
          "date": "2021-12-17T10:04:31.227Z"
        },
        {
          "file": "img/revs/rev-14.jpg",
          "mtimeMs": 1639489495836.7544,
          "date": "2021-12-17T10:04:31.961Z"
        },
        {
          "file": "img/revs/rev-15.jpg",
          "mtimeMs": 1639489465737.0967,
          "date": "2021-12-17T10:04:32.846Z"
        },
        {
          "file": "img/revs/rev-16.jpg",
          "mtimeMs": 1639489488808.8313,
          "date": "2021-12-17T10:04:33.424Z"
        },
        {
          "file": "img/revs/rev-17.jpg",
          "mtimeMs": 1639489473360.9292,
          "date": "2021-12-17T10:04:34.046Z"
        },
        {
          "file": "img/revs/rev-18.jpg",
          "mtimeMs": 1639489480995.573,
          "date": "2021-12-17T10:04:34.774Z"
        },
        {
          "file": "img/revs/rev-19.jpg",
          "mtimeMs": 1639489544577.4277,
          "date": "2021-12-17T10:04:35.565Z"
        },
        {
          "file": "img/revs/rev-2.jpg",
          "mtimeMs": 1612742064000,
          "date": "2021-12-17T10:04:36.337Z"
        },
        {
          "file": "img/revs/rev-3.jpg",
          "mtimeMs": 1617607112000,
          "date": "2021-12-17T10:04:37.279Z"
        },
        {
          "file": "img/revs/rev-4.jpg",
          "mtimeMs": 1612818750000,
          "date": "2021-12-17T10:04:38.521Z"
        },
        {
          "file": "img/revs/rev-5.jpg",
          "mtimeMs": 1612818646000,
          "date": "2021-12-17T10:04:39.220Z"
        },
        {
          "file": "img/revs/rev-6.jpg",
          "mtimeMs": 1617607138000,
          "date": "2021-12-17T10:04:40.114Z"
        },
        {
          "file": "img/revs/rev-7.jpg",
          "mtimeMs": 1617608214000,
          "date": "2021-12-17T10:04:41.267Z"
        },
        {
          "file": "img/revs/rev-8.jpg",
          "mtimeMs": 1622409220000,
          "date": "2021-12-17T10:04:42.008Z"
        },
        {
          "file": "img/revs/rev-9.jpg",
          "mtimeMs": 1613008162000,
          "date": "2021-12-17T10:04:42.786Z"
        },
        {
          "file": "js/libs.min.js",
          "mtimeMs": 1639733201451.762,
          "date": "2021-12-17T10:04:43.517Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1639752940638.4087,
          "date": "2021-12-17T14:58:56.739Z"
        },
        {
          "file": "confirm/index.html",
          "mtimeMs": 1631085635492.4954,
          "date": "2021-12-17T12:08:53.030Z"
        },
        {
          "file": "css/confirm.min.css",
          "mtimeMs": 1639739099227.4492,
          "date": "2021-12-17T12:08:53.695Z"
        },
        {
          "file": "css/promo.min.css",
          "mtimeMs": 1639755592154.7253,
          "date": "2021-12-17T15:54:00.663Z"
        },
        {
          "file": "fonts/GilroyBlack.eot",
          "mtimeMs": 1583403298000,
          "date": "2021-12-17T12:08:56.185Z"
        },
        {
          "file": "fonts/GilroyBlack.svg",
          "mtimeMs": 1583403298000,
          "date": "2021-12-17T12:08:57.510Z"
        },
        {
          "file": "fonts/GilroyBlack.ttf",
          "mtimeMs": 1583403298000,
          "date": "2021-12-17T12:08:58.401Z"
        },
        {
          "file": "fonts/GilroyBlack.woff",
          "mtimeMs": 1583403298000,
          "date": "2021-12-17T12:08:59.093Z"
        },
        {
          "file": "fonts/GilroyBlack.woff2",
          "mtimeMs": 1583403298000,
          "date": "2021-12-17T12:08:59.788Z"
        },
        {
          "file": "fonts/GilroyMedium.eot",
          "mtimeMs": 1583403344000,
          "date": "2021-12-17T12:09:00.623Z"
        },
        {
          "file": "fonts/GilroyMedium.svg",
          "mtimeMs": 1583403344000,
          "date": "2021-12-17T12:09:01.577Z"
        },
        {
          "file": "fonts/GilroyMedium.ttf",
          "mtimeMs": 1583403342000,
          "date": "2021-12-17T12:09:02.331Z"
        },
        {
          "file": "fonts/GilroyMedium.woff",
          "mtimeMs": 1583403344000,
          "date": "2021-12-17T12:09:03.689Z"
        },
        {
          "file": "fonts/GilroyMedium.woff2",
          "mtimeMs": 1583403344000,
          "date": "2021-12-17T12:09:04.500Z"
        },
        {
          "file": "fonts/Muller.eot",
          "mtimeMs": 1583541238000,
          "date": "2021-12-17T12:09:05.207Z"
        },
        {
          "file": "fonts/Muller.svg",
          "mtimeMs": 1583541236000,
          "date": "2021-12-17T12:09:06.349Z"
        },
        {
          "file": "fonts/Muller.ttf",
          "mtimeMs": 1583541236000,
          "date": "2021-12-17T12:09:07.214Z"
        },
        {
          "file": "fonts/Muller.woff",
          "mtimeMs": 1583541236000,
          "date": "2021-12-17T12:09:08.154Z"
        },
        {
          "file": "fonts/Muller.woff2",
          "mtimeMs": 1583541238000,
          "date": "2021-12-17T12:09:08.864Z"
        },
        {
          "file": "fonts/MullerBold.eot",
          "mtimeMs": 1583541238000,
          "date": "2021-12-17T12:09:09.804Z"
        },
        {
          "file": "fonts/MullerBold.svg",
          "mtimeMs": 1583541236000,
          "date": "2021-12-17T12:09:11.087Z"
        },
        {
          "file": "fonts/MullerBold.ttf",
          "mtimeMs": 1583541236000,
          "date": "2021-12-17T12:09:12.684Z"
        },
        {
          "file": "fonts/MullerBold.woff",
          "mtimeMs": 1583541236000,
          "date": "2021-12-17T12:09:13.413Z"
        },
        {
          "file": "fonts/MullerBold.woff2",
          "mtimeMs": 1583541236000,
          "date": "2021-12-17T12:09:14.052Z"
        },
        {
          "file": "fonts/MullerItalic.eot",
          "mtimeMs": 1583541238000,
          "date": "2021-12-17T12:09:15.150Z"
        },
        {
          "file": "fonts/MullerItalic.svg",
          "mtimeMs": 1583541236000,
          "date": "2021-12-17T12:09:16.154Z"
        },
        {
          "file": "fonts/MullerItalic.ttf",
          "mtimeMs": 1583541236000,
          "date": "2021-12-17T12:09:17.436Z"
        },
        {
          "file": "fonts/MullerItalic.woff",
          "mtimeMs": 1583541236000,
          "date": "2021-12-17T12:09:18.260Z"
        },
        {
          "file": "fonts/MullerItalic.woff2",
          "mtimeMs": 1583541238000,
          "date": "2021-12-17T12:09:19.244Z"
        },
        {
          "file": "img/confirm/confirm-img.png",
          "mtimeMs": 1583560678199.4304,
          "date": "2021-12-17T12:09:20.310Z"
        },
        {
          "file": "img/confirm/confirm-logo.png",
          "mtimeMs": 1631085676361,
          "date": "2021-12-17T12:09:21.257Z"
        },
        {
          "file": "img/confirm/gmail.png",
          "mtimeMs": 1583560688781.459,
          "date": "2021-12-17T12:09:22.031Z"
        },
        {
          "file": "img/confirm/mailru.png",
          "mtimeMs": 1583560692773.1108,
          "date": "2021-12-17T12:09:23.197Z"
        },
        {
          "file": "img/confirm/rambler.png",
          "mtimeMs": 1583560696989.911,
          "date": "2021-12-17T12:09:23.768Z"
        },
        {
          "file": "img/confirm/title-bg.png",
          "mtimeMs": 1583560701842.1335,
          "date": "2021-12-17T12:09:24.389Z"
        },
        {
          "file": "img/confirm/yandex.png",
          "mtimeMs": 1583560706978.5457,
          "date": "2021-12-17T12:09:25.289Z"
        },
        {
          "file": "img/icons/tg.png",
          "mtimeMs": 1614333463140.3147,
          "date": "2021-12-17T12:09:26.004Z"
        },
        {
          "file": "promo/index.html",
          "mtimeMs": 1639741682636.735,
          "date": "2021-12-17T12:09:26.758Z"
        },
        {
          "file": "img/revs/rev-1.min.png",
          "mtimeMs": 1639747558105.8555,
          "date": "2021-12-17T13:28:39.110Z"
        },
        {
          "file": "img/revs/rev-10.min.png",
          "mtimeMs": 1639747627994.8652,
          "date": "2021-12-17T13:28:40.150Z"
        },
        {
          "file": "img/revs/rev-11.min.png",
          "mtimeMs": 1639747638732.1538,
          "date": "2021-12-17T13:28:41.451Z"
        },
        {
          "file": "img/revs/rev-12.min.png",
          "mtimeMs": 1639747646274.443,
          "date": "2021-12-17T13:28:42.198Z"
        },
        {
          "file": "img/revs/rev-13.min.png",
          "mtimeMs": 1639747654898.5688,
          "date": "2021-12-17T13:28:43.506Z"
        },
        {
          "file": "img/revs/rev-14.min.png",
          "mtimeMs": 1639747662257.6067,
          "date": "2021-12-17T13:28:45.455Z"
        },
        {
          "file": "img/revs/rev-15.min.png",
          "mtimeMs": 1639747669591.4397,
          "date": "2021-12-17T13:28:46.419Z"
        },
        {
          "file": "img/revs/rev-16.min.png",
          "mtimeMs": 1639747680082.222,
          "date": "2021-12-17T13:28:47.477Z"
        },
        {
          "file": "img/revs/rev-17.min.png",
          "mtimeMs": 1639747686178.5503,
          "date": "2021-12-17T13:28:48.467Z"
        },
        {
          "file": "img/revs/rev-18.min.png",
          "mtimeMs": 1639747692897.798,
          "date": "2021-12-17T13:28:49.433Z"
        },
        {
          "file": "img/revs/rev-19.min.png",
          "mtimeMs": 1639747701372.234,
          "date": "2021-12-17T13:28:50.512Z"
        },
        {
          "file": "img/revs/rev-2.min.png",
          "mtimeMs": 1639747562975.5786,
          "date": "2021-12-17T13:28:51.482Z"
        },
        {
          "file": "img/revs/rev-3.min.png",
          "mtimeMs": 1639747570287.0422,
          "date": "2021-12-17T13:28:53.095Z"
        },
        {
          "file": "img/revs/rev-4.min.png",
          "mtimeMs": 1639747580202.8574,
          "date": "2021-12-17T13:28:54.735Z"
        },
        {
          "file": "img/revs/rev-5.min.png",
          "mtimeMs": 1639747587514.2388,
          "date": "2021-12-17T13:28:56.159Z"
        },
        {
          "file": "img/revs/rev-6.min.png",
          "mtimeMs": 1639747597583.3096,
          "date": "2021-12-17T13:28:57.650Z"
        },
        {
          "file": "img/revs/rev-7.min.png",
          "mtimeMs": 1639747604867.8862,
          "date": "2021-12-17T13:28:58.863Z"
        },
        {
          "file": "img/revs/rev-8.min.png",
          "mtimeMs": 1639747612360.978,
          "date": "2021-12-17T13:28:59.887Z"
        },
        {
          "file": "img/revs/rev-9.min.png",
          "mtimeMs": 1639747619488.7493,
          "date": "2021-12-17T13:29:01.028Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../js",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/libs.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\libs.min.js"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\scripts.js"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/promo.pug",
        "config": {
          "customOutput": "promo\\index.html"
        }
      },
      {
        "file": "_app/styl/promo.min.styl",
        "config": {
          "customOutput": "css\\promo.min.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      }
    ]
  }
}
