footer
	.container
		if footer_title
			h5 Хотите узнать больше? Вступайте в наши группы!
			.soc-buttons
				a(href="https://t.me/mvcentr" target="_blank").soc-button-tg
				a(href="https://vk.com/mv.centr" target="_blank").soc-button-vk
				a(href="https://www.instagram.com/mv.centr/?hl=ru" target="_blank").soc-button-insta
				.clfix
		p ИП Кудряшова Тамара Георгиевна, Ростовская обл., г.Волгодонск  ул.Ленинградская, 19/71 кв.219, ОГРНИП: 319619600217289, ИНН/КПП: 614311503399
		if oferta
			a.conditions(href=oferta download) Условия возврата денежных средств