@import 'base/1-fonts.styl'

@import '../_css/bootstrap.min.css'
@import '../_css/flipclock.min.css'
@import '../_css/popup.css'
@import '../_css/slick.css'
@import '../_css/slick-theme.css'

@import 'base/2-base.styl'

@import 'base/3-header.styl'
@import 'course/1-main.styl'
@import 'course/2-for.styl'
@import 'course/3-get.styl'
@import 'course/4-plan.styl'
@import 'course/5-prices.styl'
@import 'main/8-author.styl'
@import 'main/9-revs.styl'
@import 'course/6-recs.styl'
@import 'course/7-last.styl'
@import 'main/10-last.styl'
@import 'base/4-footer.styl'
@import 'course/8-modals.styl'