@import 'base/1-fonts.styl'

@import '../_css/bootstrap.min.css'
@import '../_css/popup.css'
@import '../_css/slick.css'
@import '../_css/slick-theme.css'

@import 'base/2-base.styl'

@import 'base/3-header.styl'
@import 'main/1-main.styl'
@import 'main/2-video.styl'
@import 'main/3-about.styl'
@import 'main/4-for.styl'
@import 'main/5-pic.styl'
@import 'main/6-plan.styl'
@import 'main/7-know.styl'
@import 'main/8-author.styl'
@import 'main/9-revs.styl'
@import 'main/10-last.styl'
@import 'base/4-footer.styl'
@import 'main/11-modal.styl'