#main
	padding 40px 0 0
	@media screen and (max-width: 991px)
		padding 0
.main
	&-img
		position relative
		padding-top: 100%
		@media screen and (max-width: 991px)
			padding 0
		&-1
			position absolute
			bottom: -50px
			right -130px
		&-2
			position absolute
			top: -100px
			left -25%
			width 150%
			@media screen and (max-width: 1199px)
				left -15px
			@media screen and (max-width: 991px)
				display block
				position: static
				width 100%
				max-width 569px
				margin 30px auto 0
	&-pre
		position absolute
		border-radius: 50%
		width 160px
		height: 160px
		color #3F8FD2
		border 3px solid #3F8FD2
		top -20px
		left -120px
		text-align center
		font-size: 20px
		display flex
		align-items: center
		justify-content: center
		@media screen and (max-width: 1199px)
			left -60px
		@media screen and (max-width: 991px)
			position relative
			left 0
			top 0
			margin 0 auto 50px
		@media screen and (max-width: 560px)
			width 140px
			height: 140px
			font-size: 16px
		&:before
			content: ''
			display block
			position absolute
			width 70px
			height: 3px
			background-color: #3F8FD2
			top calc(50% - 2px)
			right -60px
			@media screen and (max-width: 991px)
				transform: rotate(90deg)
				right 0
				left 0
				top auto
				bottom -10px
				margin 0 auto
				width 50px
				height: 2px
		&:after
			content ''
			display block
			position absolute
			width 16px
			height: 16px
			border-top: 2px solid #3F8FD2
			border-right 2px solid #3F8FD2
			transform: rotate(45deg)
			top calc(50% - 8px)
			right -60px
			@media screen and (max-width: 991px)
				transform: rotate(135deg)
				right 0
				left 0
				margin 0 auto
				top auto
				bottom -32px
	&-title
		font-family: L
		font-size: 68px
		text-align right
		line-height: 80px
		color #B18663
		@media screen and (max-width: 991px)
			text-align center
			font-size: 46px
			line-height: inherit
		@media screen and (max-width: 560px)
			font-size: 34px
		@media screen and (max-width: 386px)
			font-size: 30px
	&-subtitle
		font-size: 22px
		text-align right
		@media screen and (max-width: 991px)
			text-align center
		@media screen and (max-width: 560px)
			font-size: 20px
	&-info
		position relative
		margin-top: 40px
		@media screen and (max-width: 991px)
			margin-top: 25px
		&-date
			text-align center
			font-size: 32px
			font-weight: bold
			color #3F8FD2
			position relative
			@media screen and (max-width: 991px)
				font-size: 28px
			@media screen and (max-width: 560px)
				font-size: 24px
			&:before
				content: ''
				display block
				position absolute
				width 110%
				height: 3px
				background-color: #3F8FD2
				bottom: 0
				right 0
				@media screen and (max-width: 991px)
					width 90%
					margin 0 auto
					left 0
			&:after
				content: ''
				display block
				position absolute
				width 16px
				height: 16px
				border-top: 2px solid #3F8FD2
				border-left 2px solid #3F8FD2
				transform: rotate(-45deg)
				bottom: -7px
				left -10%
				@media screen and (max-width: 991px)
					content: none
		&-author
			text-align right
			font-size: 22px
			font-weight: bold
			color #B18663
			@media screen and (max-width: 991px)
				text-align center
			@media screen and (max-width: 560px)
				font-size: 20px
.form
	&-main
		width 100%
		max-width 468px
		margin 40px 0 0 auto
		@media screen and (max-width: 991px)
			margin 40px auto 0
		@media screen and (max-width: 386px)
			margin-top: 20px
.form-title
	text-align center
	font-size: 26px
	font-weight: bold
	margin-bottom: 10px
.input
	display inline-block
	width 100%
	border: 3px solid #3F8FD2;
	border-radius: 38px;
	font-size: 20px
	font-weight: 200
	color #D4C1B3
	padding 12px 69px
	background-color: #FFFBF6
	margin-bottom: 10px
::-webkit-input-placeholder
::-moz-placeholder
:-moz-placeholder
:-ms-input-placeholder
	color:#D4C1B3
	opacity:1;
@-webkit-keyframes autofill
	to
		font-size: 20px
		color: #D4C1B3;
		background-color: #FFFBF6
input:-webkit-autofill
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
.input:active
input:-internal-autofill-selected
	background-color: #FFFBF6 !important
.button-form
	@media screen and (max-width: 991px)
		width 100%
.alert-message
	clear both
	display: none;
	font-size: 16px;
	padding-top: 10px;
	color: #f00
	text-align: center
	font-weight: 600
	line-height: 1
.checking
	display: table;
	width 100%
	max-width 455px
	margin: 5px auto 0
	text-align: left
	&-main
		@media screen and (max-width 991px)
			margin-left: auto
	@media screen and (max-width 560px)
		max-width 390px
@keyframes pulse
	0%
		box-shadow: 0 0 0 0 rgba(red, .12)
	100%
		box-shadow: 0 0 15px 10px rgba(red, .12)
.checking .check-label
	line-height: 27px;
	cursor: pointer;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 0 30px;
	text-align: left;
	font-size: 13px
	color #aaa
	@media screen and (max-width 560px)
		line-height: 18px
.checking .check-label a
	text-decoration: none
	border-bottom: 1px dashed
	display: inline
	color #aaa
	&:focus
		border-bottom: 1px dashed
		color #aaa
	&:hover
		border-bottom: none
		text-decoration: none
		color #5c5b5b
.checking .check-label:before
	content: '';
	background-color: red;
	position: absolute;
	left: 0;
	top: 3px;
	width: 20px;
	height: 20px;
	border none
	border-radius: 2px
	animation: pulse
	animation-duration: .7s
	animation-iteration-count: infinite
	animation-timing-function: ease-out;
.checking .check-label:after
	content: '';
	position: absolute;
	left: 6px;
	top: -10px;
	width: 8px;
	height: 14px;
	background-color: transparent;
	opacity: 0;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transform: rotate(41deg);
	-ms-transform: rotate(41deg);
	transform: rotate(41deg);
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
.check
	position: absolute;
	z-index: -1;
	opacity: 0;
	width: 0;
	height 0;
	border: 0;
	left -99999px;
.check:checked + .check-label:before
	background-color: #3f8fd2
	animation: none
.check:checked + .check-label:after
	opacity: 1;
	top: 4px;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;