#last
	padding 140px 0
.general-img-last
	left -341px
	top calc(50% - 241px)
.form-last
	max-width 750px
	border-radius 35px
	background-color: #FFFBF6
	padding 130px
	margin 0 auto
.input-mail-last
	max-width 467px