.backwrapper-1
	background-image: url(../img/backs/backwrap-1.png)
	background-repeat: no-repeat
	background-position: center
	background-size: 100% 100%
#video
	padding 160px 0 90px
.video-text
	position relative
	padding 0 0 0 20px
	&:before
		content: ''
		display block
		font-size: 260px
		line-height: 260px
		color: #BAD2E7
		position absolute
		width 142px
		height: 92px
		background-image: url(../img/icons/quotes.png)
		background-repeat: no-repeat
		background-position: center
		background-size contain
		top -60px
		left -20px
		z-index 0
	span
		position relative
		z-index 10
.video-cite
	display block
	text-align right
	font-size: 30px
	line-height: 32px
	font-weight: bold
	font-style: normal
	color #B18663
	margin 30px 0 30px auto
	max-width 260px