#about
	padding 90px 0 180px
.general-img-about
	bottom -170px
	left -160px
.about-list
	position relative
	margin-bottom: 70px
	&:before
		content: ''
		display block
		position absolute
		width 3px
		height: 93%
		// height: 100%
		background-color: #B18663
		top 0
		left 11px
	li
		padding-left: 70px
		list-style none
		font-size: 20px
		margin-bottom: 40px
		position relative
		&:before
			content: ''
			display block
			position absolute
			width 24px
			height: 24px
			border-radius: 50px
			border 3px solid #B18663
			background-color: #F3EBE4
			top 0
			left 0
		// &:last-child
		// 	background-color: #f3ebe4
.about-img
	margin-top: -50px
.button-for
	margin-top: 70px
.for-img
	position relative
	top 100px
	left 100px