#know
	padding 170px 0
	background-image: url(../img/backs/know.png)
	background-repeat: no-repeat
	background-position: center
	background-size: 100% 100%
.general-img-know
	bottom: 120px
	left -17%
.know-item-wrapper
	border-radius 15px
	background-image: linear-gradient(to right, #3F8FD2 100%, #3F8FD2 22%); 
	width 100%
	width 100%
	max-width 960px
	padding 3px
	margin:0 auto 25px
.know-item
	border-radius 15px
	padding 25px 35px
	background-color #fff
	display table
	width 100%
	&-title
		display table-cell
		vertical-align: middle
		font-family: L
		font-size: 60px
		line-height: 60px
		color #B18663;
		padding-right: 35px
		border-right: 3px solid #3F8FD2
		width 13%
		text-align center
	&-text
		display table-cell
		vertical-align: middle
		font-size: 22px
		padding-left: 35px
.button-know
	margin-top: 70px