#know
	padding 170px 0
	background-image: url(../img/backs/know.png)
	background-repeat: no-repeat
	background-position: center
	background-size: 100% 100%
	@media screen and (max-width: 560px)
		padding 60px 0
		background-color #E1D2C8
		background-image: none
	@media screen and (max-width: 386px)
		padding 40px 0
.general-img-know
	bottom: 120px
	left -17%
	@media screen and (max-width: 991px)
		bottom 30px
	@media screen and (max-width: 560px)
		z-index -1
.know-item-wrapper
	border-radius 15px
	background-image: linear-gradient(to right, #3F8FD2 100%, #3F8FD2 22%); 
	width 100%
	width 100%
	max-width 960px
	padding 3px
	margin:0 auto 25px
.know-item
	border-radius 15px
	padding 25px 35px
	background-color #fff
	display table
	width 100%
	@media screen and (max-width: 560px)
		padding 25px
		display block
	@media screen and (max-width: 386px)
		padding 20px
	&-title
		display table-cell
		vertical-align: middle
		font-family: L
		font-size: 60px
		line-height: 60px
		color #B18663;
		padding-right: 35px
		border-right: 3px solid #3F8FD2
		width 13%
		text-align center
		@media screen and (max-width: 560px)
			display block
			font-size: 40px
			line-height: 40px
			border-right: 0
			border-bottom: 3px solid #3F8FD2
			text-align: left
			padding-right: 0
			padding-bottom: 20px
			margin-bottom: 20px
	&-text
		display table-cell
		vertical-align: middle
		font-size: 22px
		padding-left: 35px
		@media screen and (max-width: 560px)
			font-size: 18px
			padding-left: 0
			display block
.button-know
	margin-top: 70px
	@media screen and (max-width: 560px)
		margin-top: 40px
	@media screen and (max-width: 386px)
		margin-top: 20px