.backwrapper-2
	background-image: url(../img/backs/backwrap-2.png)
	background-repeat: no-repeat
	background-position: center bottom
	background-size: 100% auto
.general-img-revs
	top -140px
	right 0
.slick-track
	padding 35px 0
.slick-slide
	transition: all .3s ease
.slick-center
	transform: scale(1.1);
	transition: all .3s ease
.revs-slider-text
	width 100%
	max-width 1440px
	margin 0 auto
.text-rev-link
	// display block
	// padding 20px
	// 
	padding: 98px 22px;
	background-image: url('../img/icons/iphone.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
.text-rev-img
	// border 3px solid #3F8FD2
	// border-radius 20px
	// display block
	// width 100%
	// object-fit: contain
	// object-position: center
	// height: 375px
	// background-color #fff
	//
	width: 82%;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: center;
	object-position: center;
	height: 560px;
	background-color: #fff;
	margin: 0 auto;
.slick-prev
.slick-next
	width 80px
	height: 80px
	border-radius 50%
	text-align center
	background-color: #fff
	border 3px solid #B18663
	color #B18663
	transition: all .3s ease
	z-index 200
	font-size: 40px;
	line-height: 40px;
	// top auto
	// bottom: -130px
	&:focus
		background-color: #fff
		color #B18663
	&:hover
		background-color: #B18663
		color #fff
	&:before
	&:after
		content none
.slick-prev
	left 28%
.slick-next
	right 28%