G = 'GothicA1', sans-serif;
L = 'Lighthaus', sans-serif;
S = 'Spartan', sans-serif;

@font-face
	font-family: 'GothicA1';
	font-display: fallback;
	font-weight: 200;
	font-style: normal;
	src: url('../fonts/GothicA1Thin.eot');
	src: url('../fonts/GothicA1Thin.eot') format('embedded-opentype'),url('../fonts/GothicA1Thin.woff2') format('woff2'),url('../fonts/GothicA1Thin.woff') format('woff'),url('../fonts/GothicA1Thin.ttf') format('truetype'),url('../fonts/GothicA1Thin.svg#GothicA1Thin') format('svg');
@font-face
	font-family: 'GothicA1';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/GothicA1Regular.eot');
	src: url('../fonts/GothicA1Regular.eot') format('embedded-opentype'),url('../fonts/GothicA1Regular.woff2') format('woff2'),url('../fonts/GothicA1Regular.woff') format('woff'),url('../fonts/GothicA1Regular.ttf') format('truetype'),url('../fonts/GothicA1Regular.svg#GothicA1Regular') format('svg');
@font-face
	font-family: 'GothicA1';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/GothicA1Bold.eot');
	src: url('../fonts/GothicA1Bold.eot') format('embedded-opentype'),url('../fonts/GothicA1Bold.woff2') format('woff2'),url('../fonts/GothicA1Bold.woff') format('woff'),url('../fonts/GothicA1Bold.ttf') format('truetype'),url('../fonts/GothicA1Bold.svg#GothicA1Bold') format('svg');
@font-face
	font-family: 'Lighthaus';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/LighthausRegular.eot');
	src: url('../fonts/LighthausRegular.eot') format('embedded-opentype'),url('../fonts/LighthausRegular.woff2') format('woff2'),url('../fonts/LighthausRegular.woff') format('woff'),url('../fonts/LighthausRegular.ttf') format('truetype'),url('../fonts/LighthausRegular.svg#LighthausRegular') format('svg');
@font-face
	font-family: 'Spartan';
	font-display: fallback;
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/SpartanThin.eot');
	src: url('../fonts/SpartanThin.eot') format('embedded-opentype'),url('../fonts/SpartanThin.woff2') format('woff2'),url('../fonts/SpartanThin.woff') format('woff'),url('../fonts/SpartanThin.ttf') format('truetype'),url('../fonts/SpartanThin.svg#SpartanThin') format('svg');