header
	overflow hidden
	padding 20px 0
	margin-bottom: 40px
	@media screen and (max-width 560px)
		padding 15px 0
		margin-bottom: 20px
.header-logo
	float left
	margin-top: 4px
	img
		width auto
	@media screen and (max-width 560px)
		display block
		float: none
		margin 0 auto 5px
		width 70px
.contacts
	float: right
	text-align right
	width 280px
	display table
	@media screen and (max-width 560px)
		float: none
		text-align center
		margin 0 auto
		width 220px
.contact
	line-height: 1
	font-size: 16px
	font-family: G
	color #000
	display table-cell
	@media screen and (max-width 560px)
		line-height: 1
		font-size: 12px
	// &-tel
	// 	margin 0 20px
	&:focus
		text-decoration none
		color #000
	&:hover
		text-decoration underline
		color #000
.menu
	float: right
	text-align right
	display table
	list-style none
	li
		display table-cell
		a
			padding-left: 10px
			font-family: S
			font-size: 16px
			color #B18663
			transition: all .3s ease
			&:focus
				color #B18663
			&:hover
				opacity .6