section#video
	.container
		.row
			.col-md-7.col-md-push-5
				.video-wrapper.video-wrapper-video
					iframe(src!='https://youtube.com/embed/BfFK1oQaO80?modestbranding=1' allowfullscreen)
			.col-md-5.col-md-pull-7
				p.video-text Таро – это карты, с помощью которых можно получить ответ практически на любой вопрос. В них заключена вся наша жизнь. Все события, которые мы можем проживать, все эмоции, которые мы можем испытывать. Нужно только задать вопрос, перетасовать карты, выложить расклад и узнать то, что от нас скрыто
				cite.video-cite Оксана Воротникова
				+b('', 'button-up', href, 'Записаться')