section#about
	.container
		.content
			+imgs('general-img general-img-about', 'img/icons/2-stars-2.png', '2 звезды')
			+gt('', 'Данный мастер-класс уникален тем, что вы:')
			.row
				.col-md-9
					ul.about-list
						li Узнаете, из чего состоит колода Таро и как ее очистить от чужого влияния;
						li Узнаете, как перемешивать карты, когда и где нельзя гадать, и можно ли гадать бесплатно;
						li Поймете, нужен ли особый настрой, чтобы работать с картами Таро;
						li Научитесь понимать, что нарисовано на карте, и как самостоятельно выводить значения карт;
						li Познакомитесь со способом очищения денег от жадности клиента, и узнаете, как установить программу на деньги, чтобы клиент был доволен;
						li Примите участие в медитации для сонастройки с денежным потоком;
						li Научитесь ставить защиты с помощью Таро на себя и своих близких;
						li В прямом эфире выполните магический ритуал на улучшение отношений с партнером, который потом сможете проводить самостоятельно
				.col-md-3
					+imgs('about-img', 'img/icons/sun.png', 'Солнце')
			+b('', 'button-up', href, 'Участвовать бесплатно')