section#for
	.container
		+gt('', 'Мастер-класс будет полезен тем, кто:')
		.row
			.col-md-6
				ul.general-list
					li
						span никогда не брал в руки
						|  карты Таро, но хочет научиться;
					li
						span учился ранее, 
						|  но есть вопросы, все ли он делает правильно;
					li пока не выбрал себе 
						span своего
						|  учителя;
					li не может понять, как 
						span выбрать нужную колоду
						|  Таро;
					li хочет разобраться, 
						span что необходимо для начала работы
						|  с Таро
			.col-md-6
				+imgs('for-img', 'img/icons/3-stars.png', 'Звезды')