mixin d(n, bonus, ...items)
	.day-wrapper(class='day-wrapper-'+n)
		.day(class='day-'+n)
			.day-info
				h4.day-info-title='День '+n
				ul.general-list-2
					each item in items
						li=item
			.day-bonus
				h5.day-bonus-title Бонус
				p.day-bonus-text=bonus

section#plan
	.container
		.content
			+imgs('general-img general-img-plan-1', 'img/icons/1-star.png', 'Звезда')
			+imgs('general-img general-img-plan-2', 'img/icons/sun.png', 'Звезда')
			+imgs('general-img general-img-plan-3', 'img/icons/2-stars.png', 'Звезда')
			+gt('general-title-center', 'Пограмма мастер-класса')
			+d('1', 'Медитация «Сонастройка с денежным потоком»', 'Что такое Таро и чем оно может нам быть полезно;', 'Какие карты есть в колоде, структура колоды;', 'Как и что карты могут рассказать нам о себе;', 'Как разобраться в разных направлениях Таро;', 'Учимся выбирать свою первую колоду;', 'Символика Таро;', 'Учимся понимать, что именно для вас означает каждая карта.')
			+d('2', '3 способа энергетической защиты себя и своего дома', 'Все о колоде: как перемешивать, хранить, очищать;', 'Ритуал по очищению колоды;', 'Какие бывают масти в Таро и каким стихиям они соответствуют;', 'О чем говорят Младшие Арканы;', 'Зачем нужны перевернутые карты.')
			+d('3', 'Ритуал любовной магии «Двойка Кубков»', 'Где и когда нельзя гадать;', 'Как настроиться на гадание;', 'Можно ли гадать бесплатно;', 'Способ очищения денег от жадности клиента;', 'Как установить программу на уже полученные деньги, чтобы клиент был доволен;', 'Фигурные карты – всегда ли это люди в раскладе;', 'Рассказываем сказки с помощью Таро.')
			+b('', 'button-up button-plan', href, 'Иду на мастер-класс')