mixin ki(n,p)
	.know-item-wrapper
		.know-item(class='know-item-'+n)
			h4.know-item-title='0'+n+'.'
			p.know-item-text=p

section#know
	.container
		.content
			+imgs('general-img general-img-know', 'img/icons/1-star.png', 'Звезда')
			+gt('general-title-center', 'На мастер-классе вы узнаете.')
			+ki('1', 'Что такое Таро и как с ним работать.')
			+ki('2', 'Как Таро может помочь вам в трудной ситуации.')
			+ki('3', 'Подходит ли лично вам работа с Таро.')
			+ki('4', 'Как выбрать школу и колоду Таро.')
			+ki('5', 'Где еще, кроме гадания, можно использовать Таро.')
			+ki('6', 'Как получить дополнительный источник заработка с помощью Таро.')
			+b('', 'button-up button-know', href, 'Получить пользу')