section#author
	.container
		.row
			.col-md-5.col-md-push-7
				.author-img
					+imgs('author-img-1', 'img/icons/1-star.png', 'Звезда')
					+imgs('author-img-2', 'img/images/oxana.png', 'Оксана Воротникова')
			.col-md-7.col-md-pull-5
				+gt('general-title general-title-2', 'о тренере')
				h4.author-name Оксана Воротникова
				ul.general-list
					li Таролог – предсказания, коррекция судьбы, системные расстановки на Таро;
					li МАК-терапевт (работа с метафорическими картами);
					li Целитель – отливка воском и оловом, магические ритуалы;
					li Работа с родом - диагностика проблем в роду, родовые ритуалы;
					li Практик Рейки - IV ступень «моделирование»