section#revs
	.container
		+imgs('general-img general-img-revs', 'img/icons/2-stars-2.png', 'Звезды')
		+gt('', 'Отзывы')
		.revs-slider-text
			each n in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
				a.text-rev-link(href=path+"img/revs/rev-"+n+".jpg" data-fancybox="text-revs"): img(src=path+"img/revs/rev-"+n+".jpg", alt="Отзыв "+n).text-rev-img