//- .row
//- 	.col-md-6
//- 		.video-wrapper.video-wrapper-main
//- 			iframe(src="https://www.youtube.com/embed/"+video+"?autoplay=1&mute=1&modestbranding=1" allowfullscreen)
//- 	.col-md-6
+imgs('general-img general-img-main', 'img/icons/main-stars.png', '2 звезды')
.row
	.col-md-8
		p.main-text
			span У нас к Вам просьба прямо сейчас подписаться на телеграм.
			br
			| В нем Вы будете получать и напоминания о начале мастер-класса с ссылками на вебинарную комнату
		h3.main-subtitle
			span Перейдите в чат-бота
		a.button.button-main(href=bot) Подписаться 
			img(src=path+"img/icons/tg.png" alt="Telegram")
	.col-md-4
		.main-img
			+imgs('', 'img/icons/sun.png', 'Солнце')