if ak
	|
	<!-- AutoWebOffice counter -->
	script(type="text/javascript")
		| if (awoUtmData === undefined) {var awoUtmData = awoUtmData || {};awoUtmData['subdomain'] = 'aleksandrkudryashov1';(function() {var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;d.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'aleksandrkudryashov1.autoweboffice.ru/js/utm.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(d, s);})();}
	|
	<!-- /AutoWebOffice counter -->
if tk
	|
	<!-- AutoWebOffice counter -->
	script(type="text/javascript")
		| if (awoUtmData === undefined) {var awoUtmData = awoUtmData || {};awoUtmData['subdomain'] = 'mvcentr';(function() {var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;d.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'mvcentr.autoweboffice.ru/js/utm.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(d, s);})();}
	|
	<!-- /AutoWebOffice counter -->
|
|
<!-- Global site tag (gtag.js) - Google Analytics -->
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-130434463-1")
script
	| window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-130434463-1');
if ah
	| 
	<!-- Facebook Pixel Code -->
	script
		| !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window, document,'script','https://connect.facebook.net/en_US/fbevents.js');fbq('init', '959949134529383');fbq('track', 'PageView');
	noscript
		img(height="1" width="1" style="display:none" src!="https://www.facebook.com/tr?id=959949134529383&ev=PageView&noscript=1")
	<!-- End Facebook Pixel Code -->
| 