section#main
	.container
		.row
			.col-md-8
				.content
					p.main-pre (записи мастер-класса - внизу страницы)
					h1.main-title
						small Обучающий курс
						| Сказки 
						br
						| языком Таро
					.main-info
						p.main-info-date Старт: 3 февраля, в 19:00(мск)
						p.main-info-author Автор: Оксана Воротникова
					+b('', '', href, 'Записаться')
			.col-md-4
				.main-img
					+imgs('main-img-1', 'img/icons/sun.png', 'Звезды')
					+imgs('main-img-2', 'img/icons/main-stars.png', 'Звезды')