section#for
	.container
		.content
			+imgs('general-img general-img-for', 'img/icons/2-stars-2.png', '2 звезды')
			+gt('', 'Этот курс для вас, если:')
			.row
				.col-md-10
					ul.for-list
						li
							span Денежный доход не радует.
							|  С Таро вы всегда сможете определить, будет ли перспективным это место работы. Что нужно сделать для того, чтобы ваш денежный доход неуклонно рос.
						li
							span Сложная ситуация на работе. Боитесь сокращения.
							|  Спросите у карт Таро! Они с радостью подскажут вам, что вас ждет.
						li
							span Занимаетесь бизнесом.
							|  Таро ответят на вопросы – честен ли с вами партнер, стоит ли работать с данной компанией, выгодна ли вам эта сделка, нужно ли участвовать в тендере, кого из соискателей лучше взять на работу, а кого из сотрудников повысить. Куда лучше вложить деньги, чтобы получить максимальную прибыль.
						li
							span Не ладите со свекровью.
							|  Недопонимание с детьми и мужем. Поссорились с подругой. Конфликты с коллегами или с начальником на работе. Таро прекрасно подскажут вам, как нужно вести себя с тем или иным человеком, чтобы достичь взаимопонимания.
						li
							span Проблемы со здоровьем.
							|  С картами Таро вы сможете понять, нужно ли вам делать операцию. Если да, то подберете наиболее удачную дату для операции. Увидите, верно ли назначено лечение, и что еще можно сделать для того, чтобы исцеление прошло наиболее быстро.
			+b('', '', href, 'Участвовать')