section#get
	.container
		+gt('', 'Что вы получите в результате прохождения курса:')
		.row
			.col-md-9
				ul.general-list
					li научитесь предвидеть свое будущее;
					li будете разбираться в любых сложных ситуациях;
					li сможете сделать правильный выбор, принять верное судьбоносное решение;
					li поймете мотивы и поступки людей, а также как люди к вам относятся, чего от них ожидать;
					li сможете проанализировать ситуации из прошлого и понять, где допустили ошибку, сделать выводы;
					li получите новый источник заработка, для кого-то он станет дополнительным доходом в наше непростое время, а для кого-то и основным;
					li сможете получать в любой момент ответы на все свои вопросы и полностью изменить свою жизнь, сменив профессию, и работать дома онлайн;
					li профессия таролога позволит вам зарабатывать  от 200 000 руб. ежемесячно, работая по 2 часа в день.
			.col-md-3
				+imgs('get-img', 'img/icons/3-stars.png', 'Звезды')
		+b('', 'button-get', href, 'Мне это необходимо')