section#taro-pic
	+imgs('taro-pic-img','img/backs/cards.png',' Таро')

section#plan
	.container
		.content
			+imgs('general-img general-img-plan-1', 'img/icons/1-star.png', 'Звезда')
			+imgs('general-img general-img-plan-2', 'img/icons/sun.png', 'Солнце')
			+imgs('general-img general-img-plan-3', 'img/icons/2-stars.png', 'Звезда')
			+gt('general-title-center', 'Пограмма курса')
			.plan-packet-wrapper.plan-packet-wrapper-1
				.plan-packet.plan-packet-1
					h4.plan-packet-title пакет "Новичок"
					.row
						.col-md-6
							h5.plan-packet-subtitle Занятие 1
							ul.general-list-2
								li Структура колоды. Глифы и архетипы Старших Арканов: Шут, Маг, Верховная Жрица.
								li Медитация с одним из Старших Арканов. Техника безопасности в работе таролога.
						.col-md-6
							h5.plan-packet-subtitle Занятие 2
							ul.general-list-2
								li Значения карт в прямом и перевернутом положении в таких сферах, как бизнес, работа, деньги, отношения, человек, общие значения.
								li Карты: Шут, Маг, Верховная Жрица. Понятие голограммы. Техника «Вуаль Верховной Жрицы»: учимся скрывать предметы
					.row
						.col-md-6
							h5.plan-packet-subtitle Занятие 3
							ul.general-list-2
								li Глифы и архетипы Старших Арканов: Императрица, Император, Иерофант, Влюбленные.
								li Профессиональная этика таролога. Медитация с одним из Старших Арканов. Техника: находим денежное место в доме.
						.col-md-6
							h5.plan-packet-subtitle Занятие 4
							ul.general-list-2
								li Значения карт в прямом и перевернутом положении в таких сферах, как бизнес, работа, деньги, отношения, человек, общие значения. 
								li Карты: Императрица, Император, Иерофант, Влюбленные. Что такое сигнификатор, зачем он нужен и нужен ли.
					.row
						.col-md-6
							h5.plan-packet-subtitle Занятие 5
							ul.general-list-2
								li Глифы и архетипы Старших Арканов: Колесница, Сила, Отшельник, Колесо Фортуны.
								li Медитация с одним из Старших Арканов. Техника: ускоряем движение транспорта.
								li Техника: останавливаем неприятности и привлекаем удачу.
						.col-md-6
							h5.plan-packet-subtitle Занятие 6
							ul.general-list-2
								li Карта дня. Значения карт в прямом и перевернутом положении в таких сферах, как бизнес, работа, деньги, отношения, человек, общие значения.
								li Карты: Колесница, Сила, Отшельник, Колесо Фортуны. Расклад-триплет «Прошлое, настоящее, будущее».
					.row
						.col-md-6
							h5.plan-packet-subtitle Занятие 7
							ul.general-list-2
								li Глифы и архетипы Старших Арканов: Справедливость, Повешенный, Смерть, Умеренность.
								li Медитация с одним из арканов. Техника: сдвигаем зависшую ситуацию и убираем преграды.
								li Техника: убираем негативную энергетику разбитого зеркала.
						.col-md-6
							h5.plan-packet-subtitle Занятие 8
							ul.general-list-2
								li Значения карт в прямом и перевернутом положении в таких сферах, как бизнес, работа, деньги, отношения, человек, общие значения. 
								li Карты: Справедливость, Повешенный, Смерть, Умеренность. Расклад-триплет «Как он ко мне относится?».
					.row
						.col-md-6
							h5.plan-packet-subtitle Занятие 9
							ul.general-list-2
								li Глифы и архетипы Старших Арканов: Дьявол, Башня, Звезда, Луна.
								li Техника: нейтрализуем шумных соседей. Мини-ритуал для красоты.
						.col-md-6
							h5.plan-packet-subtitle Занятие 10
							ul.general-list-2
								li Значения карт в прямом и перевернутом положении в таких сферах, как бизнес, работа, деньги, отношения, человек, общие значения.
								li Карты: Дьявол, Башня, Звезда, Луна. Расклад-триплет «Как поступить».
					.row
						.col-md-6
							h5.plan-packet-subtitle Занятие 11
							ul.general-list-2
								li Глифы и архетипы Старших Арканов: Солнце, Суд, Мир.
								li Как защищаться во время сеанса гадания. Свеча-перехват, заговор на свечу.
								li Оберег для себя и близких с картой МИР. Упражнение «Другая линия судьбы».
						.col-md-6
							h5.plan-packet-subtitle Занятие 12
							ul.general-list-2
								li Значения карт в прямом и перевернутом положении в таких сферах, как бизнес, работа, деньги, отношения, человек, общие значения.
								li Карты: Солнце, Суд, Мир. Расклад-триплет «Развитие ситуации».
			.plan-packet-wrapper.plan-packet-wrapper-2
				.plan-packet.plan-packet-2
					h4.plan-packet-title пакет "Любитель"
					.row
						.col-md-6
							h5.plan-packet-subtitle Занятие 13
							ul.general-list-2
								li Символика Младших Арканов: Тузы, 2, 3 и 4 – Жезлов, Кубков, Мечей, Пентаклей.
						.col-md-6
							h5.plan-packet-subtitle Занятие 14
							ul.general-list-2
								li Значения Младших Арканов (в прямом и перевернутом положении): Тузы, 2, 3 и 4 – Жезлов, Кубков, Мечей, Пентаклей.
					.row
						.col-md-6
							h5.plan-packet-subtitle Занятие 15
							ul.general-list-2
								li Символика Младших Арканов: 5, 6, 7 и 8 – Жезлов, Кубков, Мечей, Пентаклей.
						.col-md-6
							h5.plan-packet-subtitle Занятие 16
							ul.general-list-2
								li Значения Младших Арканов (в прямом и перевернутом положении): 5, 6, 7 и 8 – Жезлов, Кубков, Мечей, Пентаклей.
					.row
						.col-md-6
							h5.plan-packet-subtitle Занятие 17
							ul.general-list-2
								li Символика Младших Арканов: 9 и 10 – Жезлов, Кубков, Мечей, Пентаклей.
								li Значения Младших Арканов (в прямом и перевернутом положении): 9 и 10 – Жезлов, Кубков, Мечей, Пентаклей.
						.col-md-6
							h5.plan-packet-subtitle Занятие 18
							ul.general-list-2
								li Техника: выбираем благоприятную дату для действия или события.
								li Техника: обнуление энергии с вещей (отдать, подарить).
								li Расклад «Вокзал для двоих».
			.plan-packet-wrapper.plan-packet-wrapper-3
				.plan-packet.plan-packet-3
					h4.plan-packet-title пакет "Профессионал"
					.row
						.col-md-6
							h5.plan-packet-subtitle Занятие 19
							ul.general-list-2
								li Иерархия развития, течение энергий в фигурных картах.
								li Символика фигурных карт: Пажи, Рыцари, Дамы, Короли – Жезлов, Кубков, Пентаклей, Мечей.
						.col-md-6
							h5.plan-packet-subtitle Занятие 20
							ul.general-list-2
								li Значения фигурных карт (прямое и перевернутое положение карты): личность, характер, ситуация.
								li Карты: Пажи, Рыцари, Дамы, Короли – Жезлов, Кубков, Пентаклей, Мечей.
					.row
						.col-md-6
							h5.plan-packet-subtitle Занятие 21
							ul.general-list-2
								li Расклад «Выбор»: позиции в раскладе, вопросы к раскладу.
								li Диагностика выбора партнера с помощью фигурных карт.
						.col-md-6
							h5.plan-packet-subtitle Занятие 22
							ul.general-list-2
								li Расклад «Верховная Жрица».
								ul.general-inner-list
									li - Запрет на гадание.
									li - Как читать расклад.
									li - Как задавать вопросы к раскладу.
									li - Вопросы с условием.
									li - Сочетания карт.
									li - Квинтэссенция расклада.
								li Ритуал «Подключение к эгрегору Таро».
					.row
						.col-md-6
							h5.plan-packet-subtitle Занятие 23
							ul.general-list-2
								li Практика раскладов. Практическое занятие по всем пройденным раскладам:
								ul.general-inner-list
									li - «Триплет» - все пройденные варианты,
									li - «Вокзал для двоих»,
									li - «Верховная Жрица»,
									li - «Выбор».
						.col-md-6
							h5.plan-packet-subtitle Занятие 24
							ul.general-list-2
								li Энергетическое наполнение ситуации или человека.
								li Техника энергетического наполнения (ТЭН):
								ul.general-inner-list
									li - Правила техники наполнения.
									li - Вопросы к раскладу для техники.
									li - Последовательность работы.
									li - Завершение выполнения техники.
									li - Дополнительные правила.
									li - Примеры выполнения техники.
			+b('', 'button-plan', href, 'Иду на курс')