section#last
	.container
		.row
			.col-md-7
				.content
					h3.last-title Начните сейчас!
					p.last-text Более 20 000 учеников доверяют нам и реализует свои цели
					+b('', '', href, 'Иду на курс!')
			.col-md-5
				.last-img
					+imgs('general-img', 'img/icons/3-stars.png', 'Ветка')